<%- include fragments/head %> 
<%- include fragments/bodystart %>

<article name="main article" title="<%= title %>">
<h1><%= title %></h1>

</article>
<article name="cart">
<%- include fragments/cart %>
</article>

<%- include fragments/nav %>
<%- include fragments/foot %>