<article name="main article" title="<%= title %>">
  
<h1><%= title %></h1>

<p>Welcome to <%= title %></p>
</article>
<article name="primary links">
<ol>
 <li><a href="#">Catalogues</a></li>
 <li><a href="#">Categories</a></li>
 <li><a href="/products/">Products</a></li>
 <li><a href="/warehouse/">Warehouse</a></li>
</ol>
</article>
<%= navNodes %>
<%/* for(var i=0; i < navNodes.length; i++){ 
var navNode = navNodes[i]; %>
<article name="<%= navNode.name %>">
<ol>
<% for(var j=0; j < navNode.childNodes.length; j++) { var child = navNode.childNodes[j]; %>
<li><a href="<%= child.link.href %>">x <%= child.name %> x</a>
<% } %>
</ol>
</article>
<% } */%>
