<%- include fragments/head %> 
<%- include fragments/bodystart %>
<article name="login" title="<%= title %>">
  
<h1><%= title %></h1>

<p>Welcome to <%= title %></p>
<%- include fragments/loginform %>
</article>
<%- include fragments/loginaside %>
<%- include fragments/foot %>