<%- include fragments/head %> 
<%- include fragments/bodystart %>

<article name="main article" title="<%= title %>">
<h1><%= title %></h1>

<p>Welcome to <%= title %></p>
</article>
<article name="product">
<h2><%= product.name %></h2>
<ul>
<% if(product.image) { %>
<li class="thumbnail"><img src="<%= product.image.url %>" alt="<%= product.name %>"/></li>
<% } %>
<li><%= product.description %></li>
<li><%= product.start %></li>
<li><%= product.modified %></li>
<% if(product.end) { %>
<li><%= product.end %></li>
<% } %>
<li><%- link_to(product.name, '/product/'+product._id) %></li>
</ul>
<section ng-controller='addToCartCtrl' class='actions'>
  <ul>
    <a href='/cart/add/<%- product._id %>/1' >Add one to cart</a>
  </ul>
</section>
</article>

<%- include fragments/aside %>
<%- include fragments/foot %>